USE [master]
GO
/****** Object:  Database [BDDataSystem]    Script Date: 02/12/2024 11:19:27 ******/
CREATE DATABASE [BDDataSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDDataSystem', FILENAME = N'C:\Sistemas\DataSystem\BD\BDDataSystem.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDDataSystem_log', FILENAME = N'C:\Sistemas\DataSystem\BD\BDDataSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDDataSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDDataSystem]
GO
/****** Object:  Table [dbo].[TB_TAREFAS]    Script Date: 02/12/2024 11:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TAREFAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TituloTarefa] [varchar](100) NOT NULL,
	[DescricaoTarefa] [varchar](100) NULL,
	[DataCriacao] [datetime] NULL,
	[DataConclusao] [datetime] NULL,
	[Status] [varchar](15) NULL,
 CONSTRAINT [PK_TB_TAREFAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_USUARIOS]    Script Date: 02/12/2024 11:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[SENHA] [varchar](50) NULL,
	[BLOQUEAR] [bit] NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
